

/*Downloaded from https://www.codeseek.co/jorgemaiden/javascript-contador-numandxe9rico-con-animaciandxf3n-jrVRRv */
.counter{
    /*text-align: center;*/
    font-size: 36px;
    float: right;
  }
.xd{
   /*text-align: center;*/
  font-size: 36px;
  float: right;
  align-items: right;

  }